@import 'src/styles/colors';

/* header 高度 */
$headerHeight : 120px;
/* footer 高度 */
$footerHeight : 40px;
/* 減去 footer 高度 */
$contentHeight:calc(100vh - 40px);

:host {
  display: block;
  height : 100vh;
}

.wrapper {
  background-color: $blue20;
  min-height      : $contentHeight;

  .header {
    height        : $headerHeight;
    display       : flex;
    flex-direction: column;

    .header-head {
      background-color: $white;
      height          : 65px;

      .header-head-row {
        height     : 65px;
        margin     : 0 64px;
        display    : flex;
        align-items: center;

        .header-head-left {
          display    : flex;
          align-items: center;
          flex       : 1 0 auto;
          cursor     : pointer;

          .icon-menu {
            display: none;
          }
        }

        .header-head-right {
          flex: 0 0 auto;

          .profile {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            cursor        : pointer;

            *+* {
              margin-left: 10px;
            }
          }
        }
      }
    }

    .header-menu {
      background-color: $blue40;
      height          : 55px;

      .header-menu-row {
        height         : 100%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-weight    : 400;

        div {
          margin     : 0 54px;
          width      : 100%;
          display    : flex;
          align-items: center;

          a {
            display        : block;
            margin         : 10px 8px;
            padding        : 0 18px;
            line-height    : 45px;
            border-radius  : 6px;
            color          : $gray80;
            letter-spacing : 2px;
            font-size      : 13px;
            text-decoration: none;

            &:hover,
            &:active {
              background-color: $blue30;
            }
          }

          a.menu-item-active {
            background-color: $blue30;
            font-weight     : bold;
          }
        }
      }
    }


    @media (max-width:576px) {
      height: 65px;

      .header-head {
        .header-head-row {
          margin: 0 16px;

          .header-head-left {
            .icon-menu {
              display: inline-block;
            }
          }
        }
      }

      .header-menu {
        display: none;
      }

      .header-menu.open {
        display: block;
        height : auto;
        z-index: 100;

        .header-menu-row {

          div {
            display       : flex;
            flex-direction: column;
            margin        : 0;

            a {
              width : 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.menu-account {
  display       : flex;
  align-items   : center;
  flex-direction: row;

  padding-top   : 14px;
  padding-bottom: 14px;
  padding-left  : 15px;

  .menu-account-info {
    display       : flex;
    flex-direction: column;
    margin-left   : 16px;
  }
}

footer {
  background-color: $blue20;
  height          : $footerHeight;
  font-size       : 12px;
  display         : flex;
  align-items     : center;
  justify-content : center;
}
