<div class="wrapper">
  <div class="header">
    <div class="header-head">
      <div class="header-head-row">
        <div class="header-head-left">
          <icon-menu class="me-2 icon-menu" (click)="toggle()"></icon-menu>
          <span (click)="clickHome()">會員系統</span>
        </div>
        <div class="header-head-right">
          <div class="profile" [matMenuTriggerFor]="Profile">
            <div>{{profileData?.name}}</div>
            <icon-account-circle></icon-account-circle>
          </div>
        </div>
        <mat-menu #Profile="matMenu" xPosition="before" class="bar-menu">
          <div class="menu-account">
            <div class="menu-account-icon">
              <icon-account-circle></icon-account-circle>
            </div>
            <div class="menu-account-info">
              <a [routerLink]="globalRoute.Profile">{{profileData?.name}}</a>
              <span class="small">{{profileData?.user_level?.name}}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="globalRoute.Authorization">授權書</button>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="globalRoute.Rights">會員權益</button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">登出</button>
        </mat-menu>
      </div>
    </div>
    <div class="header-menu" [ngClass]="collapsed ? 'open' : ''">
      <div class="header-menu-row">
        <div>
          <a [routerLink]="globalRoute.Bulletin_Boards" [routerLinkActiveOptions]="{ exact: false }"
            routerLinkActive="menu-item-active">公佈欄</a>
          <a [routerLink]="globalRoute.Products_Gp" [routerLinkActiveOptions]="{ exact: false }"
            routerLinkActive="menu-item-active">GP查詢</a>
          <a [routerLink]="globalRoute.Order_Sales" [routerLinkActiveOptions]="{ exact: false }"
            routerLinkActive="menu-item-active">我的銷售</a>
          <a [routerLink]="globalRoute.Billing" [routerLinkActiveOptions]="{ exact: false }"
            routerLinkActive="menu-item-active">對帳單</a>
          <a [routerLink]="globalRoute.Content_Us" [routerLinkActiveOptions]="{ exact: false }"
            routerLinkActive="menu-item-active">聯絡我們</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- footer -->
<footer>
  <span>© 2021 . All rights reserved</span>
</footer>
