@import 'src/styles/colors';

:host {
  display: block;
}

.bonus {
  min-width: 264px;
}

input.bonus-update {
  width           : 60px;
  padding         : 0;
  border          : 0;
  background-color: transparent !important;

  &:hover {
    width  : 80px;
    padding: 6px 10px;
    border : 1px solid $gray30;
  }

  &.focus,
  &:focus {
    width  : 80px;
    padding: 6px 10px;
    border : 1px solid $blue80;
  }
}
