<app-filters [keywordsColumns]="keywordsColumns" [filterDatetimeRanges]="filterDatetimeRanges"
  [filterSelects]="filterSelects" (searchEvent)="onSearch($event)">
</app-filters>

<!-- table block -->
<app-table-block [tableIsLoading]="tableIsLoading">
  <!-- total -->
  <ng-container total>
    {{paginator.length}}
  </ng-container>
  <!-- items -->
  <ng-container items>
    <button-add (click)="clickAdd()"></button-add>
  </ng-container>
  <!-- table -->
  <ng-container table>
    <table mat-table [ngClass]="{'tbody-disabled':tableIsLoading}" [dataSource]="dataSource" matSort
      (matSortChange)="handleSort($event)">

      <!-- sort -->
      <ng-container matColumnDef="sort">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 排序 </th>
        <td mat-cell *matCellDef="let row"> {{row.sort}} </td>
      </ng-container>

      <!-- no -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 編號 </th>
        <td mat-cell *matCellDef="let row">
          <a (click)="clickDetail(row)">{{row.no}}</a>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- selfBonus -->
      <ng-container matColumnDef="selfBonus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 自身抽成 (%) </th>
        <td mat-cell *matCellDef="let row" class="bonus">
          <!-- input -->
          <input class="bonus-update me-3" [ngClass]="this.dataEdit[row.selfBonus.id].isEdit ? 'focus' : ''"
            [(ngModel)]="this.dataEdit[row.selfBonus.id].bonus"
            (ngModelChange)="onEdited($event, row.selfBonus)" (focusout)="inputFocusOut(row.selfBonus)"
           type="number" min="0" max="100">
          <span class="me-2">%</span>
          <!-- button -->
          <button adiButton variant="outline" *ngIf="this.dataEdit[row.selfBonus.id].isEdit"
            (click)="saveUpdate(row.selfBonus, false)">
            取消
          </button>
          <button adiButton *ngIf="this.dataEdit[row.selfBonus.id].isEdit" (click)="saveUpdate(row.selfBonus)">
            儲存
          </button>
        </td>
      </ng-container>

      <!-- valid_flag -->
      <ng-container matColumnDef="valid_flag">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let row">
          <app-text-valid-flag [valid_flag]="row.valid_flag"></app-text-valid-flag>
        </td>
      </ng-container>

      <!-- maintain -->
      <ng-container matColumnDef="maintain">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button-edit (click)="clickUpdate(row)"></button-edit>
          <!-- <button-delete (click)="clickDelete(row)"></button-delete> -->
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9999">無資料</td>
      </tr>
    </table>

    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons (page)="handlePage($event)"></mat-paginator>
  </ng-container>
</app-table-block>
