<div class="filters">
  <div class="filters-details">
    <div class="filters-search-box">
      <div class="search-column" *ngIf="keywordsColumns.length">
        <select class="w-100" [(ngModel)]="keywordsColumn">
          <option class="gray" value="">請選擇...</option>
          <option *ngFor="let item of keywordsColumns" [value]="item.Key">
            {{ item.Name }}
          </option>
        </select>
      </div>
      <div class="search-input">
        <input class="search w-100" type="text" placeholder="關鍵字..." [(ngModel)]="keywords" />
      </div>
      <div class="search-button">
        <!-- expand btn -->
        <ng-container *ngIf="filterMore">
          <button *ngIf="!expandType" (click)="expand(true)">
            <icon-expand-more class="white s18"></icon-expand-more>
          </button>
          <button *ngIf="expandType" (click)="expand(false)">
            <icon-expand-less class="white s18"></icon-expand-less>
          </button>
        </ng-container>
        <!-- 搜尋 btn -->
        <button type="button" (click)="onSubmit()">
          <icon-search class="white s18"></icon-search>
          <span>搜尋</span>
        </button>
      </div>
    </div>
    <div class="filters-select-box" *ngIf="filterMore" [ngClass]="expandClass">
      <mat-divider class="mb-2"></mat-divider>
      <div class="title">篩選</div>

      <!-- datetime 範圍 -->
      <div class="filters-datetime-ranges">
        <div class="filters-datetime-range" *ngFor="let filterDatetimeRange of filterDatetimeRanges">
          <div class="label">{{filterDatetimeRange.Name}}</div>
          <div class="content">
            <!-- start -->
            <mat-form-field class="filters-datetime">
              <mat-label>開始時間</mat-label>
              <input matInput autocomplete="off" [ngxMatDatetimePicker]="picker_start" [max]="filterDatetimeRangeMulti[filterDatetimeRange.Column]['end']"
                (dateChange)="modelDatatimeRangeMulti(filterDatetimeRange.Column,'start',$event)">
              <mat-datepicker-toggle matSuffix [for]="$any(picker_start)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker_start></ngx-mat-datetime-picker>
            </mat-form-field>
            <!-- end -->
            <mat-form-field class="filters-datetime">
              <mat-label>結束時間</mat-label>
              <input matInput autocomplete="off" [ngxMatDatetimePicker]="picker_end" [min]="filterDatetimeRangeMulti[filterDatetimeRange.Column]['start']"
                (dateChange)="modelDatatimeRangeMulti(filterDatetimeRange.Column,'end',$event)">
              <mat-datepicker-toggle matSuffix [for]="$any(picker_end)"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker_end></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- select 多選 -->
      <mat-form-field class="filters-select" *ngFor="let filterSelect of filterSelects">
        <mat-label>{{filterSelect.Name}}</mat-label>
        <mat-select multiple [(ngModel)]="filterSelectMulti[filterSelect.Column]">
          <mat-option [value]="Option.Key" *ngFor="let Option of filterSelect.Options">{{Option.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
