@import "src/styles/colors";

:host {
  display: block;
}

.filters {
  .filters-details {
    background-color: transparent !important;
    padding         : 16px;
    border-top      : 1px solid $gray20;
    border-bottom   : 1px solid $gray20;

    .filters-search-box {
      display        : flex;
      justify-content: flex-start;

      @media (max-width: 576px) {
        flex-direction: column;
      }

      .search-column {
        width: 20vh;
      }

      .search-input {
        flex-grow  : 2;
        flex-shrink: 1;
        flex-basis : 0%;
      }

      .search-button {
        display        : flex;
        justify-content: flex-start;
      }

      select,
      input,
      button {
        height       : 32px;
        line-height  : inherit;
        border-radius: 4px;
        padding      : 6px 10px;
        display      : block;
        border       : 1px solid #dbdbdb;
        transition   : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
          outline     : none;
          border-color: transparent;
          box-shadow  : none;
          border-color: #80bdff;
          outline     : 0;
          box-shadow  : 0 0 0 0.1rem rgb(0 123 255 / 25%);
        }
      }

      select {
        background-color: $white;
        display         : inline-flex;
        justify-content : space-between;
        align-items     : center;
        text-overflow   : ellipsis;

        .gray {
          color: $gray60;
        }

        span {
          margin-right: 4px;
        }
      }

      button {
        display         : flex;
        justify-content : center;
        align-items     : center;
        cursor          : pointer;
        background-color: $blue100;
        color           : $white;
        margin-left     : 5px;
        padding         : 0 8px;

        &:hover {
          background-color: $blue50;
        }
      }

      // mobile
      @media (max-width: 576px) {

        .search-column,
        .search-input {
          width        : 100%;
          margin-bottom: 5px;
        }

        .search-button {
          justify-content: space-between;
        }

        button {
          margin-left: 0;

          .icon+span {
            padding-left: 8px;
          }
        }
      }

      // pc
      @media (min-width: 576px) {
        select {
          border-top-right-radius   : 0;
          border-bottom-right-radius: 0;
        }

        .search-column+.search-input {
          input {
            border-top-left-radius   : 0;
            border-bottom-left-radius: 0;
            border-left              : 0;
          }
        }
      }
    }

    .filters-select-box {
      padding-top : 10px;
      padding-left: 5px;

      &.hide {
        display: none;
      }

      .title {
        font-size: 12px;
        color    : $gray60;
      }

      .filters-select {
        margin: 0 15px;

        // mobile
        @media (max-width: 576px) {
          width : 100%;
          margin: 0;
        }
      }

      .filters-datetime-ranges {
        display           : flex;
        flex-wrap         : wrap;
        // justify-content: space-between;
        align-items       : center;

        .filters-datetime-range {
          display        : flex;
          justify-content: flex-start;
          align-items    : center;
          padding        : 0 15px;

          .label {
            font-size  : 16px;
            color      : $gray80;
            font-weight: bold;

            &+.content {
              margin-left: 15px;
            }
          }

          .filters-datetime+.filters-datetime {
            margin-left: 15px;
          }

          // mobile & ipad
          @media (max-width: 768px) {

            width  : 100%;
            padding: 0;

            .filters-datetime+.filters-datetime {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
