@import 'src/styles/colors';

:host {
  display: block;
}

.table-maintain {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-end;
  margin         : 10px 0 5px 0;

  .table-maintain-total {
    font-size: 14px;
  }

  .table-maintain-item {
    &>*+* {
      margin-left: 5px;
    }
  }
}
