<!-- table-maintain -->
<div class="table-maintain">
  <div class="table-maintain-total">
    <small>
      共 <ng-content select="[total]"></ng-content> 項
    </small>
  </div>
  <div class="table-maintain-item">
    <ng-content select="[items]"></ng-content>
  </div>
</div>

<!-- table -->
<app-progress-bar *ngIf="tableIsLoading"></app-progress-bar>
<ng-content select="[table]">
</ng-content>
