<ng-container [ngSwitch]="this.data.type">
  <ng-container *ngSwitchCase="'detail'">
    <div mat-dialog-title>
      明細
    </div>
    <mat-dialog-content>
      <app-row>
        <span row-label>帳號</span>
        <span row-content>{{user?.account}}</span>
      </app-row>
      <app-row>
        <span row-label>名稱</span>
        <span row-content>{{user?.name}}</span>
      </app-row>
      <app-row>
        <span row-label>等級</span>
        <span row-content>{{user?.user_level?.name}}</span>
      </app-row>
      <app-row>
        <span row-label>Email</span>
        <span row-content>{{user?.email}}</span>
      </app-row>
      <app-row>
        <span row-label>國碼</span>
        <span row-content>{{user?.phone_country}}</span>
      </app-row>
      <app-row>
        <span row-label>電話</span>
        <span row-content>{{user?.phone_number}}</span>
      </app-row>
      <app-row>
        <span row-label>地址</span>
        <span row-content>
          {{user?.addressData.zip_code}}
          {{user?.addressData.country_name}}{{user?.addressData.city}}{{user?.addressData.district}}{{user?.address}}
        </span>
      </app-row>
      <app-row>
        <span row-label>狀態</span>
        <span row-content>
          <app-text-valid-flag [valid_flag]="user?.valid_flag"></app-text-valid-flag>
        </span>
      </app-row>
      <app-row>
        <span row-label>新增時間</span>
        <span row-content>{{user?.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
      <app-row>
        <span row-label>更新時間</span>
        <span row-content>{{user?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button adiButton variant="outline" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div mat-dialog-title>
      {{!user ? '新增' : '編輯'}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-dialog-content>
        <!-- account -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>帳號</mat-label>
          <input formControlName="account" matInput type="text" [readonly]="this.data.type == 'update'"
            [ngClass]="this.data.type == 'update' ? 'input-bg-gray' : ''">
          <mat-hint>
            <span *ngIf="f.account.errors?.required">必填</span>
            4 ~ 30 碼, 英文或數字
          </mat-hint>
          <mat-error>
            <div *ngIf="f.account.errors?.required">必填</div>
            <div *ngIf="f.account.errors?.minlength">最小 {{f.account.errors?.minlength.requiredLength}} 碼</div>
            <div *ngIf="f.account.errors?.maxlength">最大 {{f.account.errors?.maxlength.requiredLength}} 碼</div>
            <div *ngIf="f.account.errors?.pattern">英文或數字</div>
            {{f.account.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- password -->
        <mat-form-field class="w-100" *ngIf="this.data.type == 'add'">
          <mat-label>密碼</mat-label>
          <input class="input-bg-gray" matInput type="text" readonly value="預設為手機號碼後六碼">
        </mat-form-field>
        <ng-container *ngIf="this.data.type == 'update' && user?.id != 1">
          <div class="mb-3">
            <label class="me-3">密碼</label>
            <button class="me-3" adiButton variant="primary" type="button" (click)="resetPassword()">重置</button>
            <mat-hint>預設為手機號碼後六碼</mat-hint>
          </div>
        </ng-container>
        <!-- name -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>名稱</mat-label>
          <input formControlName="name" matInput type="text">
          <mat-hint>
            <span *ngIf="f.name.errors?.required">必填</span>
            最大 30 碼
          </mat-hint>
          <mat-error>
            <div *ngIf="f.name.errors?.required">必填</div>
            <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
            {{f.name.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- user_level_id -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>等級</mat-label>
          <mat-select formControlName="user_level_id">
            <mat-option *ngFor="let userLevel of userLevels" [value]="userLevel.id">
              {{userLevel.name}}
            </mat-option>
          </mat-select>
          <mat-hint>
            <span *ngIf="f.user_level_id.errors?.required">必填</span>
          </mat-hint>
          <mat-error>
            <div *ngIf="f.user_level_id.errors?.required">必填</div>
            {{f.user_level_id.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- phone -->
        <app-country-code formGroupName="phone"></app-country-code>
        <!-- email -->
        <mat-form-field class="w-100 mb-3 mt-3">
          <mat-label>信箱</mat-label>
          <input formControlName="email" matInput type="email">
          <mat-hint>
            <span *ngIf="f.email.errors?.required">必填</span>
            最大 100 碼
          </mat-hint>
          <mat-error>
            <div *ngIf="f.email.errors?.required">必填</div>
            <div *ngIf="f.email.errors?.maxlength">最大 {{f.email.errors?.maxlength.requiredLength}} 碼</div>
            <div *ngIf="f.email.errors?.email">格式錯誤</div>
            {{f.email.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- address -->
        <app-country-address formGroupName="address"></app-country-address>
        <!-- valid_flag -->
        <div class="mt-3">
          <label class="me-3">狀態</label>
          <mat-radio-group formControlName="valid_flag">
            <mat-radio-button value="1">有效</mat-radio-button>
            <mat-radio-button value="0">無效</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            {{f.valid_flag.errors?.message}}
          </mat-error>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button adiButton type="submit" [loading]="loading" variant="primary">送出</button>
        <button adiButton variant="outline" mat-dialog-close>取消</button>
      </mat-dialog-actions>
    </form>
  </ng-container>
</ng-container>
