@import 'src/styles/colors';

:host {
  display: block;
}

$bgcolor      :$gray90;
$headerHeight : 40px;
/*減去 header footer 高度*/
$contentHeight:calc(100vh - 40px);

:host {
  display: block;
  height : 100vh;
}

.wrapper {
  min-height: $contentHeight;
}

.header {
  height         : $headerHeight;
  background     : $bgcolor;
  color          : $white;
  font-size      : 12px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  box-shadow     : 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.login {
  position         : absolute;
  top              : 30%;
  left             : 50%;
  transform        : translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width        : 300px;

  div {

    mat-form-field,
    button {
      width: 100%;
      width: 100%;
    }
  }

  @media (max-width:576px) {
    width: 80%;
  }
}
