<div class="wrapper">
  <!-- header -->
  <mat-toolbar class="header">
    <div>
      <span>管理後台</span>
    </div>
  </mat-toolbar>
  <!-- login -->
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>帳號</mat-label>
        <input formControlName="Account" matInput type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>密碼</mat-label>
        <input formControlName="Pwd" matInput type="password">
      </mat-form-field>
    </div>
    <div>
      <button type="submit" adiButton [loading]="loginLoading" variant="primary">
        登入
      </button>
    </div>
    <div *ngIf="loginFailed" class="text-center mt-3">
      <small class="text-danger">登入失敗</small>
    </div>
  </form>
</div>
