<ng-container [ngSwitch]="this.data.type">
  <ng-container *ngSwitchCase="'detail'">
    <div mat-dialog-title>
      明細
    </div>
    <mat-dialog-content>
      <app-row>
        <span row-label>排序</span>
        <span row-content>{{bulletinBoard?.sort}}</span>
      </app-row>
      <app-row>
        <span row-label>圖片</span>
        <span row-content>
          <ng-container *ngIf="bulletinBoard?.image_url == null; else imgBlack">
            無圖片
          </ng-container>
          <ng-template #imgBlack>
            <img [src]="bulletinBoard?.image_url">
            <br>
            <a target="_blank" [href]="bulletinBoard?.image_url">
              {{bulletinBoard?.image_url}}
            </a>
          </ng-template>
        </span>
      </app-row>
      <app-row>
        <span row-label>標題</span>
        <span row-content>{{bulletinBoard?.title}}</span>
      </app-row>
      <app-row>
        <span row-label>副標題</span>
        <span row-content>{{bulletinBoard?.subtitle}}</span>
      </app-row>
      <app-row>
        <span row-label>內容</span>
        <mat-form-field class="w-100" appearance="outline" row-content>
          <textarea matInput rows="15" [value]="bulletinBoard?.content" readonly></textarea>
        </mat-form-field>
      </app-row>
      <app-row>
        <span row-label>開始時間</span>
        <span row-content>
          <ng-container *ngIf="bulletinBoard?.start_date == null; else intervalStartDate">
            不限制
          </ng-container>
          <ng-template #intervalStartDate>
            {{bulletinBoard?.start_date | date: 'yyyy-MM-dd EEE HH:mm'}}
          </ng-template>
        </span>
      </app-row>
      <app-row>
        <span row-label>結束時間</span>
        <span row-content>
          <ng-container *ngIf="bulletinBoard?.end_date == null; else intervalEndDate">
            不限制
          </ng-container>
          <ng-template #intervalEndDate>
            {{bulletinBoard?.end_date | date: 'yyyy-MM-dd EEE HH:mm'}}
          </ng-template>
        </span>
      </app-row>
      <app-row>
        <span row-label>狀態</span>
        <span row-content>
          <app-text-valid-flag [valid_flag]="bulletinBoard?.valid_flag"></app-text-valid-flag>
        </span>
      </app-row>
      <app-row>
        <span row-label>新增時間</span>
        <span row-content>{{bulletinBoard?.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
      <app-row>
        <span row-label>更新時間</span>
        <span row-content>{{bulletinBoard?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button adiButton variant="outline" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div mat-dialog-title>
      {{!bulletinBoard ? '新增' : '編輯'}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-dialog-content>
        <!-- title -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>標題</mat-label>
          <input formControlName="title" matInput type="text">
          <mat-hint>
            <span *ngIf="f.title.errors?.required">必填</span>
            最大 100 碼
          </mat-hint>
          <mat-error>
            <div *ngIf="f.title.errors?.required">必填</div>
            <div *ngIf="f.title.errors?.maxlength">最大 {{f.title.errors?.maxlength.requiredLength}} 碼</div>
            {{f.title.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- subtitle -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>副標題</mat-label>
          <input formControlName="subtitle" matInput type="text">
          <mat-hint>
            <span *ngIf="f.subtitle.errors?.required">必填</span>
            最大 100 碼
          </mat-hint>
          <mat-error>
            <div *ngIf="f.subtitle.errors?.required">必填</div>
            <div *ngIf="f.subtitle.errors?.maxlength">最大 {{f.subtitle.errors?.maxlength.requiredLength}} 碼</div>
            {{f.subtitle.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- content -->
        <mat-form-field class="w-100 mb-3" appearance="outline">
          <mat-label>內容</mat-label>
          <textarea formControlName="content" matInput rows="15"></textarea>
          <mat-hint>
            <span *ngIf="f.content.errors?.required">必填</span>
          </mat-hint>
          <mat-error>
            <div *ngIf="f.content.errors?.required">必填</div>
            {{f.content.errors?.message}}
          </mat-error>
        </mat-form-field>
        <div class="mb-3">
          <label class="me-3">設定公告時間</label>
          <mat-radio-group formControlName="date_settings">
            <mat-radio-button [value]="false">限制</mat-radio-button>
            <mat-radio-button [value]="true">不限制</mat-radio-button>
          </mat-radio-group>
        </div>
        <!-- start_date -->
        <mat-form-field class="mb-3">
          <mat-label>開始時間</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker_start_date" formControlName="start_date"
            [max]="f.end_date.value" [attr.disabled]="true">
          <mat-datepicker-toggle matSuffix [for]="$any(picker_start_date)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker_start_date></ngx-mat-datetime-picker>
          <mat-error>
            {{f.start_date.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- end_date -->
        <mat-form-field class="mb-3 ms-md-3">
          <mat-label>結束時間</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker_end_date" formControlName="end_date" [min]="f.start_date.value"
            [attr.disabled]="true">
          <mat-datepicker-toggle matSuffix [for]="$any(picker_end_date)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker_end_date></ngx-mat-datetime-picker>
          <mat-error>
            {{f.end_date.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- sort -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>排序</mat-label>
          <input formControlName="sort" matInput type="text">
          <mat-hint>
            <span *ngIf="f.sort.errors?.required">必填</span>
          </mat-hint>
          <mat-error>
            <div *ngIf="f.sort.errors?.required">必填</div>
            <div *ngIf="f.sort.errors?.min">最小 {{f.sort.errors?.min.min}}</div>
            <div *ngIf="f.sort.errors?.pattern">無效格式,請輸入數字</div>
            {{f.sort.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- valid_flag -->
        <div class="mt-3">
          <label class="me-3">狀態</label>
          <mat-radio-group formControlName="valid_flag">
            <mat-radio-button value="1">有效</mat-radio-button>
            <mat-radio-button value="0">無效</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            {{f.valid_flag.errors?.message}}
          </mat-error>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button adiButton type="submit" [loading]="loading" variant="primary">送出</button>
        <button adiButton variant="outline" mat-dialog-close>取消</button>
      </mat-dialog-actions>
    </form>
  </ng-container>
</ng-container>
