<app-filters [keywordsColumns]="keywordsColumns" [filterDatetimeRanges]="filterDatetimeRanges"
  [filterSelects]="filterSelects" (searchEvent)="onSearch($event)">
</app-filters>

<!-- table block -->
<app-table-block [tableIsLoading]="tableIsLoading">
  <!-- total -->
  <ng-container total>
    {{paginator.length}}
  </ng-container>
  <!-- items -->
  <ng-container items>
    <button-add (click)="clickAdd()"></button-add>
  </ng-container>
  <!-- table -->
  <ng-container table>
    <table mat-table [ngClass]="{'tbody-disabled':tableIsLoading}" [dataSource]="dataSource" matSort
      (matSortChange)="handleSort($event)">

      <!-- account -->
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef> 帳號 </th>
        <td mat-cell *matCellDef="let row">
          <a (click)="clickDetail(row)">{{row.account}}</a>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- is_super -->
      <ng-container matColumnDef="is_super">
        <th mat-header-cell *matHeaderCellDef> 最高權限管理者 </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.is_super">
            <icon-valid-circle class="green"></icon-valid-circle> 是
          </ng-container>
          <ng-container *ngIf="!row.is_super">
            <icon-invalid-circle class="red"></icon-invalid-circle> 否
          </ng-container>
        </td>
      </ng-container>

      <!-- valid_flag -->
      <ng-container matColumnDef="valid_flag">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let row">
          <app-text-valid-flag [valid_flag]="row.valid_flag"></app-text-valid-flag>
        </td>
      </ng-container>

      <!-- updated_at -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新時間 </th>
        <td mat-cell *matCellDef="let row"> {{row.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}} </td>
      </ng-container>

      <!-- maintain -->
      <ng-container matColumnDef="maintain">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button-edit (click)="clickUpdate(row)" *ngIf="row.id != 1"></button-edit>
          <button-delete (click)="clickDelete(row)" *ngIf="row.id != 1"></button-delete>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9999">無資料</td>
      </tr>
    </table>

    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons (page)="handlePage($event)"></mat-paginator>
  </ng-container>
</app-table-block>
