<app-filters [keywordsColumns]="keywordsColumns" [filterDatetimeRanges]="filterDatetimeRanges"
  [filterSelects]="filterSelects" (searchEvent)="onSearch($event)">
</app-filters>

<!-- table block -->
<app-table-block [tableIsLoading]="tableIsLoading">
  <!-- total -->
  <ng-container total>
    {{paginator.length}}
  </ng-container>
  <!-- items -->
  <ng-container items>
    <button-add (click)="clickAdd()"></button-add>
  </ng-container>
  <!-- table -->
  <ng-container table>
    <table mat-table [ngClass]="{'tbody-disabled':tableIsLoading}" [dataSource]="dataSource" matSort
      (matSortChange)="handleSort($event)">

      <!-- no -->
      <ng-container matColumnDef="no" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 編號 </th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="[row.id]">
            {{row.no}}
          </a>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- valid_flag -->
      <ng-container matColumnDef="valid_flag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 狀態 </th>
        <td mat-cell *matCellDef="let row">
          <app-text-valid-flag [valid_flag]="row.valid_flag"></app-text-valid-flag>
        </td>
      </ng-container>

      <!-- created_at -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 新增時間 </th>
        <td mat-cell *matCellDef="let row"> {{row.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}} </td>
      </ng-container>

      <!-- updated_at -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新時間 </th>
        <td mat-cell *matCellDef="let row"> {{row.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}} </td>
      </ng-container>

      <!-- maintain -->
      <ng-container matColumnDef="maintain">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button-edit (click)="clickUpdate(row)"></button-edit>
          <button-delete (click)="clickDelete(row)"></button-delete>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9999">無資料</td>
      </tr>
    </table>

    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons (page)="handlePage($event)"></mat-paginator>
  </ng-container>
</app-table-block>
