@import 'src/styles/colors';

:host {
  display: block;
}

.card {
  margin-top   : 20px;
  margin-bottom: 40px;
  padding      : 0 10px;

  .profile-info {
    margin-bottom: 40px;
  }

  form {
    width: 100%;
  }
}
