<div class="row justify-content-center">
  <div class="col col-lg-8 col-md-10">
    <div class=" card">
      <div class="profile-info">
        <app-row>
          <span row-label>帳號</span>
          <span row-content>{{profile?.account}}</span>
        </app-row>
        <app-row>
          <span row-label>等級</span>
          <span row-content>{{profile?.user_level?.name}}</span>
        </app-row>
        <app-row>
          <span row-label>密碼</span>
          <span row-content>
            <button adiButton variant="primary" type="button" (click)="clickUpdatePassword()">變更密碼</button>
          </span>
        </app-row>
      </div>
      <!-- 基本資料設定 -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-row>
          <span row-label>基本資料設定</span>
          <span row-content>
            <!-- name -->
            <mat-form-field class="w-100 mb-3">
              <mat-label>名稱</mat-label>
              <input formControlName="name" matInput type="text">
              <mat-hint>
                <span *ngIf="f.name.errors?.required">必填</span>
                最大 30 碼
              </mat-hint>
              <mat-error>
                <div *ngIf="f.name.errors?.required">必填</div>
                <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
                {{f.name.errors?.message}}
              </mat-error>
            </mat-form-field>
            <!-- phone -->
            <app-country-code formGroupName="phone"></app-country-code>
            <!-- email -->
            <mat-form-field class="w-100 mb-3 mt-3">
              <mat-label>信箱</mat-label>
              <input formControlName="email" matInput type="email">
              <mat-hint>
                <span *ngIf="f.email.errors?.required">必填</span>
                最大 100 碼
              </mat-hint>
              <mat-error>
                <div *ngIf="f.email.errors?.required">必填</div>
                <div *ngIf="f.email.errors?.maxlength">最大 {{f.email.errors?.maxlength.requiredLength}} 碼</div>
                <div *ngIf="f.email.errors?.email">格式錯誤</div>
                {{f.email.errors?.message}}
              </mat-error>
            </mat-form-field>
            <!-- address -->
            <app-country-address formGroupName="address"></app-country-address>
            <div class="text-right">
              <button adiButton type="submit" [loading]="loading" variant="primary">更新</button>
              <button adiButton type="button" variant="outline" (click)="cancel()">取消</button>
            </div>
          </span>
        </app-row>
      </form>
    </div>

  </div>
</div>
