$red10 : #ff4569;
$red20 : #ff1744;
$red30 : #b2102f;

$white  : #FFFFFF;
$gray10 : #f0f0f0;
$gray20 : #e6e6e6;
$gray30 : #d7d7d7;
$gray40 : #a8a8a8;
$gray50 : #8d8d8d;
$gray60 : #6f6f6f;
$gray70 : #525252;
$gray80 : #393939;
$gray90 : #262626;
$gray100: #161616;
$black  : #000000;

$blue10 : #f2f9ff;
$blue20 : #e9f3fc;
$blue30 : #cbe2f9;
$blue40 : #9dc7f1;
$blue50 : #63a6e9;
$blue60 : #428fdc;
$blue70 : #1f75cb;
$blue80 : #1068bf;
$blue90 : #0b5cad;
$blue100: #064787;
$blue200: #033464;

$green10  :#f1fdf6;
$green20  :#ecf4ee;
$green30  :#c3e6cd;
$green40  :#91d4a8;
$green50  :#52b87a;
$green60  :#2da160;
$green70  :#108548;
$green80  :#217645;
$green90  :#24663b;
$green100 :#0d532a;
$green200 :#0a4020;
$green300 :#00202b;

$alert_success: #52b87a;
$alert_warning: #ffc107;
$alert_error  : #dc3545;

$notification_badge: #DC3545;

.text-primary {
  color: $blue60;
}

.text-secondary {
  color: $gray60;
}

.text-success {
  color: $alert_success;
}

.text-warning {
  color: $alert_warning;
}

.text-danger {
  color: $alert_error;
}

.text-info {
  color: $blue50;
}

.text-light {
  color: $white;
}

.text-dark {
  color: $gray100;
}

.text-white {
  color: $white;
}
