@import '~@angular/material/theming';

@import './colors.scss';

@include mat-core();
// $custom-primary: mat-palette($mat-light-blue);
// $custom-accent:  mat-palette($mat-orange, 500, A100, A700);

$mat-red: (50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: $red20,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));

$custom-primary: mat-palette($mat-light-blue, 700);
$custom-accent : mat-palette($mat-gray, 700);
$custom-warn   : mat-palette($mat-red);

$custom-typography: mat-typography-config($font-family: "'Noto Sans TC', sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500));

/* 建立深色主題 */
$custom-theme: mat-light-theme((color:(primary:$custom-primary,
      accent:$custom-accent,
      warn:$custom-warn,
    ),
    typography:$custom-typography,
  ));

@include angular-material-theme($custom-theme);

/* 自訂 */

/* mat-input */
.mat-input-element.input-bg-gray {
  background-color: $gray10;
}

/* mat-radio-button */
.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

/* mat-dialog */
.mat-dialog-actions {
  justify-content: flex-end;
}

/* mat-menu */
.mat-menu-panel {

  // bar
  &.bar-menu {

    font-size    : 14px;
    border-radius: 12px;

    .mat-menu-content {
      width: 250px;

      a:hover,
      button:hover {
        color          : $blue60;
        text-decoration: none;
      }

      .mat-menu-item {
        font-size: 14px;
        margin   : 0;
      }
    }
  }
}

/* mat-table */
.mat-table {

  width           : 100%;
  background-color: transparent !important;

  // thead
  thead {
    tr.mat-header-row {
      background-color: $white;

      th.mat-header-cell {
        color      : $black;
        font-weight: bold;
      }
    }
  }

  // tbody
  tbody {

    tr.mat-row {

      &:hover {
        background-color: $white;
      }

      td {
        a {
          cursor         : pointer;
          text-decoration: underline;
        }

        &.mat-column-valid_flag {
          width: 85px;
        }

        &.mat-column-created_at,
        &.mat-column-updated_at {
          width: 212px;
        }

        &.mat-column-sort {
          width: 85px;
        }

        &.mat-column-maintain {
          width     : 150px;
          text-align: right;

          * {
            margin: 0 auto;
          }

          *+* {
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
}

.tbody-disabled {
  tbody {
    tr {
      background-color: $gray10;

      td {
        color: $gray50;
      }
    }
  }
}

.mat-paginator {
  background-color: transparent !important;
}

/* snazkbar */
.green-snackbar {
  background: $alert_success;
}

.red-snackbar {
  background: $alert_error;
}

.warning-snackbar {
  background: $alert_warning;
}
