<ng-container *ngIf="valid_flag">
  <icon-valid-circle class="green"></icon-valid-circle> 有效
</ng-container>
<ng-container *ngIf="!valid_flag">
  <icon-invalid-circle class="red"></icon-invalid-circle> 無效
</ng-container>
