<app-filters [keywordsColumns]="keywordsColumns" [filterDatetimeRanges]="filterDatetimeRanges"
  [filterSelects]="filterSelects" (searchEvent)="onSearch($event)">
</app-filters>

<!-- table block -->
<app-table-block [tableIsLoading]="tableIsLoading">
  <!-- total -->
  <ng-container total>
    {{paginator.length}}
  </ng-container>
  <!-- items -->
  <ng-container items>
    <button-add (click)="clickAdd()"></button-add>
  </ng-container>
  <!-- table -->
  <ng-container table>
    <table mat-table [ngClass]="{'tbody-disabled':tableIsLoading}" [dataSource]="dataSource" matSort>

      <!-- account -->
      <ng-container matColumnDef="account" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 帳號 </th>
        <td mat-cell *matCellDef="let row">
          <a (click)="clickDetail(row)">{{row.account}}</a>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- user_level -->
      <ng-container matColumnDef="user_level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 等級 </th>
        <td mat-cell *matCellDef="let row"> {{row.user_level.name}} </td>
      </ng-container>

      <!-- email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- phone -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 國碼 電話 </th>
        <td mat-cell *matCellDef="let row">
          {{row.phone_country}} {{row.phone_number}}
        </td>
      </ng-container>

      <!-- valid_flag -->
      <ng-container matColumnDef="valid_flag">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let row">
          <app-text-valid-flag [valid_flag]="row.valid_flag"></app-text-valid-flag>
        </td>
      </ng-container>

      <!-- maintain -->
      <ng-container matColumnDef="maintain">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button-edit (click)="clickUpdate(row)"></button-edit>
          <button-delete (click)="clickDelete(row)" *ngIf="row.id != 1"></button-delete>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9999">無資料</td>
      </tr>
    </table>

    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </ng-container>
</app-table-block>
