<!-- <span *ngFor="let breadcrumb of breadcrumbs" [routerLink]="breadcrumb.url">
  {{breadcrumb.label}}
</span> -->

<nav class="breadcrumbs">
  <div class="breadcrumbs-container">
    <div class="breadcrumbs-links">
      <ul>
        <li *ngFor="let breadcrumb of breadcrumbs; let i = index">
          <ng-container *ngIf="breadcrumb.isClickable; else notClickable">
            <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
          </ng-container>
          <ng-template #notClickable>
            <span>{{ breadcrumb.label }}</span>
          </ng-template>
          <icon-navigate-next
            class="gray60 s12"
            *ngIf="i + 1 != breadcrumbs.length"
          ></icon-navigate-next>
        </li>
      </ul>
    </div>
  </div>
</nav>
