<div class="row justify-content-center">
  <div class="col col-lg-8 col-md-10">
    <div class="card">
      <div class="title">
        {{bulletinBoard?.title}}
      </div>
      <div class="datetime">
        {{bulletinBoard?.updated_at | date: 'yyyy-MM-dd EEE'}}
      </div>
      <div class="img">
        <img [src]="bulletinBoard?.image_url">
      </div>
      <div class="subtitle">
        {{bulletinBoard?.subtitle}}
      </div>
      <div class="content">
        {{bulletinBoard?.content}}
      </div>
    </div>
  </div>
</div>
