@import 'src/styles/colors';

:host {
  display: block;
}

.card {
  margin-top    : 20px;
  margin-bottom : 40px;
  padding       : 0 5px;
  display       : flex;
  flex-direction: column;

  *+* {
    margin-top: 10px;
  }

  .title {
    font-size  : 46px;
    line-height: 56px;
    font-weight: 700;
  }

  .datetime {
    font-size  : 14px;
    line-height: 20px;
    font-weight: 400;
    color      : $gray80;
  }

  .img {
    img {
      max-width: 100%;
    }
  }

  .content {
    font-size  : 21px;
    line-height: 32px;
  }
}
