<!-- 商品基本資訊 -->
<app-section>
  <span section-title>基本資訊</span>
  <!-- 編號 -->
  <app-row>
    <span row-label>編號</span>
    <span row-content>{{product?.no}}</span>
  </app-row>
  <!-- 名稱 -->
  <app-row>
    <span row-label>名稱</span>
    <span row-content>{{product?.name}}</span>
  </app-row>
  <!-- 狀態 -->
  <app-row>
    <span row-label>狀態</span>
    <span row-content>
      <app-text-valid-flag [valid_flag]="product?.valid_flag"></app-text-valid-flag>
    </span>
  </app-row>
  <!-- 新增時間 -->
  <app-row>
    <span row-label>新增時間</span>
    <span row-content>{{product?.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
  </app-row>
  <!-- 更新時間 -->
  <app-row>
    <span row-label>更新時間</span>
    <span row-content>{{product?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
  </app-row>
</app-section>

<mat-divider></mat-divider>

<!-- 規格 -->
<app-section>
  <span section-title>規格</span>
  <app-product-items *ngIf="!!product" [productId]="product.id"></app-product-items>
</app-section>
