<app-filters [keywordsColumns]="keywordsColumns" [filterDatetimeRanges]="filterDatetimeRanges"
  [filterSelects]="filterSelects" (searchEvent)="onSearch($event)">
</app-filters>

<!-- table block -->
<app-table-block [tableIsLoading]="tableIsLoading">
  <!-- total -->
  <ng-container total>
    {{paginator.length}}
  </ng-container>
  <!-- items -->
  <ng-container items>
  </ng-container>
  <!-- table -->
  <ng-container table>
    <table mat-table [ngClass]="{'tbody-disabled':tableIsLoading}" [dataSource]="dataSource" matSort
      (matSortChange)="handleSort($event)">

      <!-- no -->
      <ng-container matColumnDef="no" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 編號 </th>
        <td mat-cell *matCellDef="let row">
          {{row.product_no}}<br>
          <small class="text-secondary">{{row.product_item_no}}</small>
        </td>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </th>
        <td mat-cell *matCellDef="let row">
          {{row.product_name}}<br>
          <small class="text-secondary">{{row.product_item_name}}</small>
        </td>
      </ng-container>

      <!-- gp -->
      <ng-container matColumnDef="gp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GP </th>
        <td mat-cell *matCellDef="let row" class="gp">
          <!-- input -->
          <input class="gp-update me-3" [ngClass]="this.dataEdit[row.product_item_id].isEdit ? 'focus' : ''"
            [(ngModel)]="this.dataEdit[row.product_item_id].gp" (ngModelChange)="onEdited($event, row)"
            (focusout)="inputFocusOut(row)" value="{{row.gp}}" type="number" min="0">
          <!-- button -->
          <button adiButton variant="outline" *ngIf="this.dataEdit[row.product_item_id].isEdit"
            (click)="saveUpdate(row, false)">
            取消
          </button>
          <button adiButton *ngIf="this.dataEdit[row.product_item_id].isEdit" (click)="saveUpdate(row)">
            儲存
          </button>
        </td>
      </ng-container>

      <!-- valid_flag -->
      <ng-container matColumnDef="valid_flag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 狀態 </th>
        <td mat-cell *matCellDef="let row">
          <app-text-valid-flag [valid_flag]="row.valid_flag"></app-text-valid-flag>
        </td>
      </ng-container>

      <!-- updated_at -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新時間 </th>
        <td mat-cell *matCellDef="let row">
          {{row.product_item_updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9999">無資料</td>
      </tr>
    </table>

    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons (page)="handlePage($event)"></mat-paginator>
  </ng-container>
</app-table-block>
