@import 'src/styles/colors';

:host {
  display: block;
}

.gp {
  min-width: 304px;
}

input.gp-update {
  width           : 100px;
  padding         : 0;
  border          : 0;
  background-color: transparent !important;

  &:hover {
    padding: 6px 10px;
    border : 1px solid $gray30;
  }

  &.focus,
  &:focus {
    padding: 6px 10px;
    border : 1px solid $blue80;
  }
}
