<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="card">
  <!-- company_address -->
  <div class="block" *ngIf="!!websiteInfo?.company_address">
    <div class="tag">地址</div>
    <div class="content">{{websiteInfo?.company_address}}</div>
  </div>
  <!-- phone -->
  <div class="block" *ngIf="!!websiteInfo?.phone">
    <div class="tag">聯絡電話</div>
    <div class="content">{{websiteInfo?.phone}}</div>
  </div>
  <!-- email -->
  <div class="block" *ngIf="!!websiteInfo?.email">
    <div class="tag">聯絡信箱</div>
    <div class="content">{{websiteInfo?.email}}</div>
  </div>
  <!-- line -->
  <div class="block" *ngIf="!!websiteInfo?.line">
    <div class="tag">官方帳號</div>
    <div class="content">
      <img src="assets/img/icon-line-48.png">
      {{websiteInfo?.line}}
    </div>
  </div>
  <div class="block">
    <div class="tag">社群連結</div>
    <div class="icons">
      <!-- facebook -->
      <a *ngIf="!!websiteInfo?.facebook" href="{{websiteInfo?.facebook}}" target="_blank">
        <img src="assets/img/icon-facebook-48.png">
      </a>
      <!-- instagram -->
      <a *ngIf="!!websiteInfo?.instagram" href="{{websiteInfo?.instagram}}" target="_blank">
        <img src="assets/img/icon-instagram-48.png">
      </a>
    </div>
  </div>
</div>
