@import 'src/styles/colors';

:host {
  display: block;
}

.card {

  display       : flex;
  flex-direction: column;

  .block {
    padding: 50px;

    .title {
      font-size     : 28px;
      font-weight   : 500;
      letter-spacing: .012em;
    }

    .tag {
      width           : fit-content;
      padding         : 5px 12px;
      border-radius   : 20px;
      background-color: $blue100;
      color           : $white;
    }

    .content {
      display    : flex;
      align-items: center;
      font-size  : 17px;
      line-height: 1.52947;
      font-weight: 400;
      margin-top : 20px;
      color      : $gray80;
    }

    .icons {
      margin-top: 13px;

      *+* {
        margin-left: 10px;
      }
    }

    img {
      width: 30px;
    }


    @media (max-width:576px) {
      padding: 30px 10px;
    }
  }

  .block+.block {
    border-top: 1px solid $gray20;
  }
}
