<div mat-dialog-title>
  變更密碼
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- old_password -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>舊密碼</mat-label>
      <input formControlName="old_password" matInput type="password">
      <mat-error>
        <div *ngIf="f.old_password.errors?.required">必填</div>
        {{f.old_password.errors?.message}}
      </mat-error>
    </mat-form-field>
    <!-- new_password -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>新密碼</mat-label>
      <input formControlName="new_password" matInput type="password">
      <mat-hint>最少 5 碼</mat-hint>
      <mat-error>
        <div *ngIf="f.new_password.errors?.required">必填</div>
        <div *ngIf="f.new_password.errors?.minlength">最小 {{f.new_password.errors?.minlength.requiredLength}} 碼</div>
        {{f.new_password.errors?.message}}
      </mat-error>
    </mat-form-field>
    <!-- confirm_new_password -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>確認新密碼</mat-label>
      <input formControlName="confirm_new_password" matInput type="password">
      <mat-error>
        <div *ngIf="f.confirm_new_password.errors?.required">必填</div>
        {{f.confirm_new_password.errors?.message}}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button adiButton type="submit" [loading]="loading" variant="primary">送出</button>
    <button adiButton variant="outline" mat-dialog-close>取消</button>
  </mat-dialog-actions>
</form>
