<app-progress-bar *ngIf="loading"></app-progress-bar>

<ng-container *ngIf="!isEditing else editBlock">
  <div class="my-3">
    <button adiButton variant="primary" (click)="handleUpdate(true);">編輯</button>
  </div>
  <div class="row m-3">
    更新時間 {{authorization?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}
  </div>
  <mat-divider></mat-divider>
  <div class="row m-3" [innerHTML]="authorization?.title"></div>
  <div class="row mx-3" [innerHTML]="authorization?.content"></div>
</ng-container>

<ng-template #editBlock>
  <app-section>
    <span section-title>編輯授權書</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- 標題 -->
      <mat-form-field class="w-100 mb-3" appearance="outline">
        <mat-label>標題</mat-label>
        <textarea formControlName="title" matInput rows="5"></textarea>
        <mat-hint>
          <span *ngIf="f.title.errors?.required">必填</span>
          最大 255 碼
        </mat-hint>
        <mat-error>
          <div *ngIf="f.title.errors?.required">必填</div>
          <div *ngIf="f.title.errors?.maxlength">最大 {{f.title.errors?.maxlength.requiredLength}} 碼</div>
          {{f.title.errors?.message}}
        </mat-error>
      </mat-form-field>
      <!-- 內容 -->
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>內容</mat-label>
        <textarea formControlName="content" matInput rows="50"></textarea>
        <mat-hint>
          <span *ngIf="f.content.errors?.required">必填</span>
        </mat-hint>
        <mat-error>
          <div *ngIf="f.content.errors?.required">必填</div>
          {{f.content.errors?.message}}
        </mat-error>
      </mat-form-field>
      <div class="text-right">
        <button adiButton type="submit" variant="primary" [loading]="loading">送出</button>
        <button adiButton type="button" variant="outline" (click)="handleUpdate(false);">取消</button>
      </div>
    </form>
  </app-section>
</ng-template>
