<div class="wrapper">
  <div class="login-card">
    <div class="logo">
      前台系統
    </div>
    <form class="login" [formGroup]="form" (ngSubmit)="login()">
      <div class="row-input">
        <icon-account></icon-account>
        <mat-form-field appearance="standard">
          <mat-label>帳號</mat-label>
          <input formControlName="Account" matInput type="text">
        </mat-form-field>
      </div>
      <div class="row-input">
        <icon-key></icon-key>
        <mat-form-field appearance="standard">
          <mat-label>密碼</mat-label>
          <input formControlName="Pwd" matInput type="password">
        </mat-form-field>
      </div>
      <div class="mt-3">
        <button type="submit" adiButton [loading]="loginLoading" variant="primary">
          登入
        </button>
      </div>
      <div *ngIf="loginFailed" class="text-center mt-3">
        <small class="text-danger">登入失敗</small>
      </div>
    </form>
  </div>
</div>
