@import 'src/styles/colors';

:host {
  display         : block;
  height          : 100vh;
  background-color: $blue20;
}

.wrapper {
  min-height     : 100vh;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;

  .login-card {
    width        : 50%;
    box-shadow   : rgb(0 0 0 / 30%) 0px 3px 8px 0px;
    border-radius: 6px;
    display      : flex;

    .logo {
      width           : 35%;
      background-color: $white;
      padding         : 90px 20px;
      border-radius   : 6px 0px 0px 6px;
      display         : flex;
      flex-direction  : column;
      align-items     : flex-end;
      justify-content : space-between;
      text-align      : right;
      font-size       : 30px;
      font-weight     : 700;
    }

    .login {
      width           : 65%;
      border-radius   : 0px 6px 6px 0px;
      display         : flex;
      flex-direction  : column;
      align-items     : center;
      justify-content : center;
      padding         : 90px 70px;
      font-size       : 18px;
      background-color: $blue40;

      div {
        width: 84%;

        mat-form-field,
        button {
          width: 100%;
          width: 100%;
        }
      }

      .row-input {
        display       : flex;
        flex-direction: row;
        align-items   : center;

        .icon {
          margin-top  : 12px;
          margin-right: 20px;
        }
      }
    }
  }

  @media (max-width:768px) {
    .login-card {
      width         : 90%;
      flex-direction: column;
      padding       : 0;

      .logo {
        width      : 100%;
        padding    : 20px 0;
        text-align : center;
        align-items: center;
      }

      .login {
        width  : 100%;
        padding: 60px 0;
      }
    }
  }

}
