@import "src/styles/colors";

:host {
  --primary           : #1f75cb;
  --primary-dark      : #0b5cad;
  --primary-disabled  : #63a6e9;
  --secondary         : hsl(0, 0%, 88%);
  --secondary-dark    : hsl(0, 0%, 82%);
  --secondary-disabled: hsl(0, 0%, 90%);
  --danger            : #ff1744;
  --danger-dark       : #b2102f;
  --danger-disabled   : #ff4569;
  position            : relative;
  padding             : 0.5rem 1rem;
  font-size           : 14px;
  border              : 1px solid transparent;
  background          : none;
  border-radius       : 6px;
  cursor              : pointer;
  outline             : none;
}

.label {
  opacity        : 1;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.loader {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  display    : grid;
  place-items: center;
  opacity    : 0;
}

/* Primary Button Variant Styles */
:host(.primary) {
  background: var(--primary);
  color     : #fff;
}

:host(.primary:hover) {
  background: var(--primary-dark);
}

:host(.primary:not(.loading):focus) {
  background: var(--primary-dark);
}

:host(.primary.loading) {
  pointer-events: none;
  background    : var(--primary-disabled);
}

/* Secondary Button Variant Styles */
:host(.secondary) {
  background: var(--secondary);
  color     : #444;
}

:host(.secondary:hover) {
  background: var(--secondary-dark);
}

:host(.secondary:not(.loading):focus) {
  box-shadow: inset 0 0px 0px 1.5px var(--primary-dark),
    0 0px 0px 2px var(--secondary);
}

:host(.secondary.loading) {
  pointer-events: none;
  background    : var(--secondary-disabled);
  color         : hsl(0, 0%, 60%);
}

/* Outline Button Variant Styles */
:host(.outline) {
  border-color: hsl(0, 0%, 80%);
  color       : #444;
}

:host(.outline:hover) {
  border-color: hsl(0, 0%, 70%);
  background  : hsl(0, 0%, 95%);
}

:host(.outline:not(.loading):focus) {
  border-color: var(--primary-dark);
  box-shadow  : inset 0 0px 0px 1px var(--primary-dark);
}

:host(.outline.loading) {
  pointer-events: none;
  background    : hsl(0, 0%, 95%);
  color         : hsl(0, 0%, 60%);
}

/* Danger Button Variant Styles */
:host(.danger) {
  background: var(--danger);
  color     : #444;
}

:host(.danger:hover) {
  background: var(--danger-dark);
}

:host(.danger:not(.loading):focus) {
  box-shadow: inset 0 0px 0px 1.5px var(--primary-dark),
    0 0px 0px 2px var(--danger);
}

:host(.danger.loading) {
  pointer-events: none;
  background    : var(--danger-disabled);
  color         : hsl(0, 0%, 60%);
}

/* Loading Styles */
:host(.loading) .loader {
  opacity: 1;
}

:host(.loading) .label {
  opacity: 0;
}

.svg-loader {
  display        : flex;
  position       : relative;
  align-content  : space-around;
  justify-content: center;
}

.loader-svg {
  position      : absolute;
  left          : 0;
  right         : 0;
  top           : 0;
  bottom        : 0;
  fill          : none;
  stroke-width  : 7px;
  stroke-linecap: round;
  stroke        : $blue70;
}

.loader-svg.bg {
  stroke-width: 10px;
  stroke      : $blue40;
}

.animate {
  stroke-dasharray: 242.6;
  animation       : fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

@keyframes fill-animation {
  0% {
    stroke-dasharray : 40 242.6;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray : 141.3;
    stroke-dashoffset: 141.3;
  }

  100% {
    stroke-dasharray : 40 242.6;
    stroke-dashoffset: 282.6;
  }
}
