@import 'src/styles/colors';

$bgcolor      :$gray90;
$headerHeight : 40px;
$footerHeight : 40px;
/*減去 header footer 高度*/
$contentHeight:calc(100vh - 80px);

:host {
  display: block;
  height : 100vh;
}

.wrapper {
  min-height: $contentHeight;
}

.header {
  height         : $headerHeight;
  background     : $bgcolor;
  color          : $white;
  font-size      : 12px;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  box-shadow     : 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  .bar-left {
    display        : flex;
    align-items    : center;
    align-content  : center;
    justify-content: center;
    cursor         : pointer;

    icon-menu {
      margin-right: 10px;
    }
  }

  .bar-right {
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    align-content  : center;
    justify-content: center;

    .info {
      display       : inline-flex;
      flex-direction: column;

      div {
        text-align : right;
        line-height: initial;
      }
    }

    .account-icon {
      display        : flex;
      align-items    : center;
      justify-content: center;
      margin-left    : 10px;
    }
  }
}

.menu-account {
  display       : flex;
  align-items   : center;
  flex-direction: row;

  padding-top   : 14px;
  padding-bottom: 14px;
  padding-left  : 10px;

  .menu-account-info {
    display       : flex;
    flex-direction: column;
    margin-left   : 16px;
  }
}

// sidenav
.sidenav-container {
  background-color: transparent !important;
  height          : $contentHeight;

  .sidenav {
    background: $white;
    width     : 160px;

    a {
      border-radius : 0;
      padding-left  : 20px;
      padding-top   : 1px;
      padding-bottom: 1px;

      &:hover {
        text-decoration: none;
      }

      &.list-item-active {
        color      : $bgcolor;
        font-weight: bold;
        background : $gray10;
        border-left: 4px solid $bgcolor;
      }


      .icon+span {
        padding-left: 6px;
      }
    }

    .mat-button {
      width     : 100%;
      text-align: left;

      &:hover {
        background: $gray10;
      }
    }

    .subheader {
      cursor        : default;
      padding-left  : 8px;
      padding-top   : 10px;
      padding-bottom: 10px;
      font-size     : 12px;
      line-height   : 32px;
      color         : $gray60;
    }
  }
}

// footer
footer {
  background     : $bgcolor;
  color          : $white;
  height         : $footerHeight;
  font-size      : 12px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}
