<div class="wrapper">
  <!-- header -->
  <mat-toolbar class="header">
    <div class="bar-left">
      <icon-menu class="white" (click)="sidenav.toggle()"></icon-menu>
      <span (click)="clickHome()">管理後台</span>
    </div>
    <!-- 個人資訊 -->
    <div class="bar-right" [matMenuTriggerFor]="Profile">
      <div class="info">
        <div>{{profileData?.name}}</div>
      </div>
      <div class="account-icon">
        <icon-account-circle class="white bar"></icon-account-circle>
      </div>
    </div>
    <mat-menu #Profile="matMenu" xPosition="before" class="bar-menu">
      <div class="menu-account">
        <div class="menu-account-icon">
          <icon-account-circle class="bar"></icon-account-circle>
        </div>
        <div class="menu-account-info">
          <a routerLink="/">{{profileData?.name}}</a>
          <!-- TODO -->
          <!-- <a>Edit Profile</a>-->
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">登出</button>
    </mat-menu>
  </mat-toolbar>
  <!-- container -->
  <mat-sidenav-container class="sidenav-container">
    <!-- SideNav -->
    <mat-sidenav class="sidenav" #sidenav="matSidenav" opened mode="side">
      <ng-container *ngFor="let item of sideNav">
        <span class="subheader">{{item.header}}</span>
        <ng-container *ngFor="let menu of item.menus"></ng-container>

        <a *ngFor="let menu of item.menus" mat-button [routerLink]="menu.routerLink" (click)="clickSidenav()"
          [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="list-item-active">
          <span>{{menu.name}}</span>
        </a>
      </ng-container>
    </mat-sidenav>
    <!-- Content -->
    <mat-sidenav-content>
      <div class="container-fluid">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- footer -->
<footer>
  <span>© 2021 . All rights reserved</span>
</footer>
