<ng-container [ngSwitch]="this.data.type">
  <ng-container *ngSwitchCase="'detail'">
    <div mat-dialog-title>
      明細
    </div>
    <mat-dialog-content>
      <app-row>
        <span row-label>編號</span>
        <span row-content>{{productItem?.no}}</span>
      </app-row>
      <app-row>
        <span row-label>名稱</span>
        <span row-content>{{productItem?.name}}</span>
      </app-row>
      <app-row>
        <span row-label>價格</span>
        <span row-content>{{productItem?.price | number}}</span>
      </app-row>
      <app-row>
        <span row-label>GP</span>
        <span row-content>{{productItem?.gp | number}}</span>
      </app-row>
      <app-row>
        <span row-label>狀態</span>
        <span row-content>
          <app-text-valid-flag [valid_flag]="productItem?.valid_flag"></app-text-valid-flag>
        </span>
      </app-row>
      <app-row>
        <span row-label>新增時間</span>
        <span row-content>{{productItem?.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
      <app-row>
        <span row-label>更新時間</span>
        <span row-content>{{productItem?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button adiButton variant="outline" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div mat-dialog-title>
      {{!productItem ? '新增' : '編輯'}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-dialog-content>
        <!-- no -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>編號</mat-label>
          <input formControlName="no" matInput type="text">
          <mat-hint>最大 255 碼</mat-hint>
          <mat-error>
            <div *ngIf="f.no.errors?.required">必填</div>
            <div *ngIf="f.no.errors?.maxlength">最大 {{f.no.errors?.maxlength.requiredLength}} 碼</div>
            {{f.no.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- name -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>名稱</mat-label>
          <input formControlName="name" matInput type="text">
          <mat-hint>最大 100 碼</mat-hint>
          <mat-error>
            <div *ngIf="f.name.errors?.required">必填</div>
            <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
            {{f.name.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- price -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>價格</mat-label>
          <input formControlName="price" matInput type="number">
          <mat-error>
            <div *ngIf="f.price.errors?.required">必填</div>
            {{f.price.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- gp -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>GP</mat-label>
          <input formControlName="gp" matInput type="number">
          <mat-error>
            <div *ngIf="f.gp.errors?.required">必填</div>
            {{f.gp.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- valid_flag -->
        <div class="mt-3">
          <label class="me-3">狀態</label>
          <mat-radio-group formControlName="valid_flag">
            <mat-radio-button value="1">有效</mat-radio-button>
            <mat-radio-button value="0">無效</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            {{f.valid_flag.errors?.message}}
          </mat-error>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions>
        <button type="submit" adiButton [loading]="loading" variant="primary">送出</button>
        <button adiButton variant="outline" mat-dialog-close>取消</button>
      </mat-dialog-actions>

    </form>
  </ng-container>
</ng-container>
