<div class="label">
  <ng-content></ng-content>
</div>
<div class="loader">
  <ng-container *ngTemplateOutlet="icon?.tpl || defaultLoader"></ng-container>
</div>
<ng-template #defaultLoader>
  <div class="svg-loader">
    <svg class="svg-container" height="25" width="25" viewBox="0 0 100 100">
      <circle class="loader-svg bg" cx="50" cy="50" r="45"></circle>
      <circle class="loader-svg animate" cx="50" cy="50" r="45"></circle>
    </svg>
  </div>
</ng-template>
