<!-- <button class="icon-button">
  <icon-delete class="white"></icon-delete>
</button> -->
<button class="icon-button" adiButton [loading]="loading" variant="danger">
  <icon-delete class="white"></icon-delete>
</button>
