@import 'src/styles/colors';

:host {
  display: block;
}

nav.breadcrumbs {
  display   : flex;
  overflow  : hidden;
  min-height: 40px;
  width     : 100%;
  color     : $gray60;

  .breadcrumbs-container {
    display       : flex;
    align-items   : center;
    width         : 100%;
    padding-top   : 8px;
    padding-bottom: 8px;
    border-bottom : 1px solid $gray20;

    .breadcrumbs-links {
      flex      : 1;
      min-width : 0;
      align-self: center;

      ul {
        list-style   : none;
        margin       : 0;
        padding      : 0;
        display      : flex;
        margin-bottom: 0;
        line-height  : 16px;

        li {
          display    : flex;
          align-items: center;
          padding    : 2px 0;

          a, span {
            font-size      : 13px;
            color          : $gray60;
            white-space    : nowrap;
            overflow       : hidden;
            text-overflow  : ellipsis;
            flex           : 0 1 auto;
            text-decoration: inherit;
          }

          a:hover {
            text-decoration: underline;
          }

          .icon {
            padding: 0 8px;
          }
        }
      }
    }
  }
}
