<ng-container [ngSwitch]="this.data.type">
  <ng-container *ngSwitchCase="'detail'">
    <div mat-dialog-title>
      明細
    </div>
    <mat-dialog-content>
      <app-row>
        <span row-label>帳號</span>
        <span row-content>{{admin?.account}}</span>
      </app-row>
      <app-row>
        <span row-label>名稱</span>
        <span row-content>{{admin?.name}}</span>
      </app-row>
      <app-row>
        <span row-label>最高權限</span>
        <span row-content>
          <ng-container *ngIf="admin?.is_super">
            <icon-valid-circle class="green"></icon-valid-circle> 是
          </ng-container>
          <ng-container *ngIf="!admin?.is_super">
            <icon-invalid-circle class="red"></icon-invalid-circle> 否
          </ng-container>
        </span>
      </app-row>
      <app-row>
        <span row-label>狀態</span>
        <span row-content>
          <app-text-valid-flag [valid_flag]="admin?.valid_flag"></app-text-valid-flag>
        </span>
      </app-row>
      <app-row>
        <span row-label>新增時間</span>
        <span row-content>{{admin?.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
      <app-row>
        <span row-label>更新時間</span>
        <span row-content>{{admin?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button adiButton variant="outline" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div mat-dialog-title>
      {{!admin ? '新增' : '編輯'}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-dialog-content>
        <!-- account -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>帳號</mat-label>
          <input formControlName="account" matInput type="text">
          <mat-hint>4 ~ 30 碼</mat-hint>
          <mat-error>
            <div *ngIf="f.account.errors?.required">必填</div>
            <div *ngIf="f.account.errors?.minlength">最小 {{f.account.errors?.minlength.requiredLength}} 碼</div>
            <div *ngIf="f.account.errors?.maxlength">最大 {{f.account.errors?.maxlength.requiredLength}} 碼</div>
            {{f.account.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- password -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>密碼</mat-label>
          <input formControlName="password" matInput type="password">
          <mat-hint>最少 5 碼</mat-hint>
          <mat-error>
            <div *ngIf="f.password.errors?.required">必填</div>
            <div *ngIf="f.password.errors?.minlength">最小 {{f.password.errors?.minlength.requiredLength}} 碼</div>
            {{f.password.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- name -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>名稱</mat-label>
          <input formControlName="name" matInput type="text">
          <mat-hint>最大 30 碼</mat-hint>
          <mat-error>
            <div *ngIf="f.name.errors?.required">必填</div>
            <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
            {{f.name.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- valid_flag -->
        <div class="mt-3">
          <label class="me-3">狀態</label>
          <mat-radio-group formControlName="valid_flag">
            <mat-radio-button value="1">有效</mat-radio-button>
            <mat-radio-button value="0">無效</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            {{f.valid_flag.errors?.message}}
          </mat-error>
        </div>
        <!-- is_super -->
        <div class="mt-3">
          <label class="me-3">最高權限管理員</label>
          <mat-radio-group formControlName="is_super" [disabled]="!is_super">
            <mat-radio-button value="1">是</mat-radio-button>
            <mat-radio-button value="0">否</mat-radio-button>
          </mat-radio-group>
          <div>
            <mat-hint>
              <ng-container *ngIf="!is_super">
                <small>沒有權限編輯</small>
              </ng-container>
            </mat-hint>
          </div>
          <mat-error>
            {{f.is_super.errors?.message}}
          </mat-error>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button adiButton type="submit" [loading]="loading" variant="primary">送出</button>
        <button adiButton variant="outline" mat-dialog-close>取消</button>
      </mat-dialog-actions>
    </form>
  </ng-container>
</ng-container>
