@import 'src/styles/colors';

:host {
  display: block;
}

label {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
  font-weight    : 400;
  padding-right  : 24px;
  color          : $gray80;
}

@media screen and (max-width: 768px) {

  label {
    justify-content: flex-start;
  }

}
