<div class="row mb-3">
  <label class="col-12 col-md-3 col-form-label">
    <ng-content select="[row-label]"></ng-content>
  </label>
  <div class="col">
    <ng-content select="[row-content]"></ng-content>
  </div>
</div>
