<ng-container [ngSwitch]="this.data.type">
  <ng-container *ngSwitchCase="'detail'">
    <div mat-dialog-title>
      明細
    </div>
    <mat-dialog-content>
      <app-row>
        <span row-label>編號</span>
        <span row-content>{{userLevel?.no}}</span>
      </app-row>
      <app-row>
        <span row-label>名稱</span>
        <span row-content>{{userLevel?.name}}</span>
      </app-row>
      <app-row>
        <span row-label>排序</span>
        <span row-content>{{userLevel?.sort}}</span>
      </app-row>
      <app-row>
        <span row-label>狀態</span>
        <span row-content>
          <app-text-valid-flag [valid_flag]="userLevel?.valid_flag"></app-text-valid-flag>
        </span>
      </app-row>
      <app-row>
        <span row-label>新增時間</span>
        <span row-content>{{userLevel?.created_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
      <app-row>
        <span row-label>更新時間</span>
        <span row-content>{{userLevel?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}</span>
      </app-row>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button adiButton variant="outline" mat-dialog-close>關閉</button>
    </mat-dialog-actions>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div mat-dialog-title>
      {{!userLevel ? '新增' : '編輯'}}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-dialog-content>
        <!-- no -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>編號</mat-label>
          <input formControlName="no" matInput type="text" [readonly]="this.data.type == 'update'"
            [ngClass]="this.data.type == 'update' ? 'input-bg-gray' : ''">
          <mat-hint>
            <span *ngIf="f.no.errors?.required">必填</span>
            4 ~ 30 碼, 英文或數字
          </mat-hint>
          <mat-error>
            <div *ngIf="f.no.errors?.required">必填</div>
            <div *ngIf="f.no.errors?.minlength">最小 {{f.no.errors?.minlength.requiredLength}} 碼</div>
            <div *ngIf="f.no.errors?.maxlength">最大 {{f.no.errors?.maxlength.requiredLength}} 碼</div>
            <div *ngIf="f.no.errors?.pattern">英文或數字</div>
            {{f.no.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- name -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>名稱</mat-label>
          <input formControlName="name" matInput type="text">
          <mat-hint>
            <span *ngIf="f.name.errors?.required">必填</span>
            最大 30 碼
          </mat-hint>
          <mat-error>
            <div *ngIf="f.name.errors?.required">必填</div>
            <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
            {{f.name.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- sort -->
        <mat-form-field class="w-100 mb-3">
          <mat-label>排序</mat-label>
          <input formControlName="sort" matInput type="text">
          <mat-hint>
            <span *ngIf="f.sort.errors?.required">必填</span>
          </mat-hint>
          <mat-error>
            <div *ngIf="f.sort.errors?.required">必填</div>
            <div *ngIf="f.sort.errors?.min">最小 {{f.sort.errors?.min.min}}</div>
            <div *ngIf="f.sort.errors?.pattern">無效格式,請輸入數字</div>
            {{f.sort.errors?.message}}
          </mat-error>
        </mat-form-field>
        <!-- valid_flag -->
        <div>
          <label class="me-3">狀態</label>
          <mat-radio-group formControlName="valid_flag">
            <mat-radio-button value="1">有效</mat-radio-button>
            <mat-radio-button value="0">無效</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            {{f.valid_flag.errors?.message}}
          </mat-error>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button adiButton type="submit" [loading]="loading" variant="primary">送出</button>
        <button adiButton variant="outline" mat-dialog-close>取消</button>
      </mat-dialog-actions>
    </form>
  </ng-container>
</ng-container>
