<div mat-dialog-title>
  {{!product ? '新增' : '編輯'}}
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- no -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>編號</mat-label>
      <input formControlName="no" matInput type="text">
      <mat-hint>最大 255 碼</mat-hint>
      <mat-error>
        <div *ngIf="f.name.errors?.required">必填</div>
        <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
        {{f.no.errors?.message}}
      </mat-error>
    </mat-form-field>
    <!-- name -->
    <mat-form-field class="w-100 mb-3">
      <mat-label>名稱</mat-label>
      <input formControlName="name" matInput type="text">
      <mat-hint>最大 100 碼</mat-hint>
      <mat-error>
        <div *ngIf="f.name.errors?.required">必填</div>
        <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
        {{f.name.errors?.message}}
      </mat-error>
    </mat-form-field>
    <!-- valid_flag -->
    <div class="mt-3">
      <label class="me-3">狀態</label>
      <mat-radio-group formControlName="valid_flag">
        <mat-radio-button value="1">有效</mat-radio-button>
        <mat-radio-button value="0">無效</mat-radio-button>
      </mat-radio-group>
      <mat-error>
        {{f.valid_flag.errors?.message}}
      </mat-error>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit" adiButton [loading]="loading" variant="primary">送出</button>
    <button adiButton variant="outline" mat-dialog-close>取消</button>
  </mat-dialog-actions>

</form>
