<div class="row" *ngIf="!!phoneFormGroup" [formGroup]="phoneFormGroup">
  <div class="col-auto">
    <mat-form-field>
      <mat-label>國碼</mat-label>
      <mat-select formControlName="phone_country">
        <mat-option *ngFor="let country of countries_code" [value]="country.country_code">
          {{country.country_name}} {{country.country_code}}
        </mat-option>
      </mat-select>
      <mat-hint>
        <div *ngIf="f.phone_country.errors?.required">必填</div>
      </mat-hint>
      <mat-error>
        <div *ngIf="f.phone_country.errors?.required">必填</div>
        {{f.phone_country.errors?.message}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="w-100">
      <mat-label>號碼</mat-label>
      <input matInput type="text" formControlName="phone_number">
      <span *ngIf="!!value.phone_country" matPrefix class="me-2">{{value.phone_country}}</span>
      <mat-hint>
        <div *ngIf="f.phone_number.errors?.required">必填</div>
      </mat-hint>
      <mat-error>
        <div *ngIf="f.phone_number.errors?.required">必填</div>
        <div *ngIf="f.phone_number.errors?.minlength">最小 {{f.phone_number.errors?.minlength.requiredLength}} 碼</div>
        <div *ngIf="f.phone_number.errors?.maxlength">最大 {{f.phone_number.errors?.maxlength.requiredLength}} 碼</div>
        <div *ngIf="f.phone_number.errors?.pattern">無效號碼</div>
        {{f.phone_number.errors?.message}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
