@import "src/styles/colors";

:host {
  display: inline-block;

  svg {
    fill: $black;
  }

  &.white {
    svg {
      fill: $white;
    }
  }

  &.gray {
    &60 {
      svg {
        fill: $gray60;
      }
    }
  }

  &.green {
    svg {
      fill: $alert_success;
    }
  }

  &.red {
    svg {
      fill: $alert_error;
    }
  }

  &.bar {
    svg {
      width : 25px;
      height: 25px;
    }
  }

  &.s10 {
    svg {
      width : 10px;
      height: 10px;
    }
  }

  &.s12 {
    svg {
      width : 12px;
      height: 12px;
    }
  }

  &.s14 {
    svg {
      width : 14px;
      height: 14px;
    }
  }

  &.s18 {
    svg {
      width : 18px;
      height: 18px;
    }
  }
}
