<h2 mat-dialog-title>刪除</h2>
<mat-dialog-content>
  <ng-container *ngIf="!!data.name">
    <div class="mb-3 text-primary">
      {{data.name}}
    </div>
  </ng-container>
  <div>
    確定刪除資料 ?
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button adiButton variant="primary" cdkFocusInitial (click)="dialogRef.close(true)">確定</button>
  <button adiButton variant="outline" (click)="dialogRef.close(false)">取消</button>
</mat-dialog-actions>
