<app-progress-bar *ngIf="loading"></app-progress-bar>
<!-- 基本資訊 -->
<app-section>
  <span section-title>基本資訊設定</span>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- 網站標題 -->
    <app-row-form>
      <span row-label>網站標題*</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="title" matInput type="text">
        <mat-hint>
          <span *ngIf="f.title.errors?.required">必填</span>
          最大 50 碼
        </mat-hint>
        <mat-error>
          <div *ngIf="f.title.errors?.required">必填</div>
          <div *ngIf="f.title.errors?.maxlength">最大 {{f.title.errors?.maxlength.requiredLength}} 碼</div>
          {{f.title.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- 網站標題LOGO(頁籤LOGO) -->
    <app-row-form>
      <span row-label>網站標題LOGO(頁籤LOGO)*</span>
      <div row-content>
        <input formControlName="title_logo_url" type="file" accept=".png,.jpg,.jpeg">
        <br>
        <small class="text-secondary">
          上傳jpg或png, 建議 30px*30px
        </small>
        <span class="text-danger">
          {{f.title_logo_url.errors?.message}}
        </span>
      </div>
    </app-row-form>
    <!-- 網站名稱 -->
    <app-row-form>
      <span row-label>網站(品牌)名稱*</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="name" matInput type="text">
        <mat-hint>
          <span *ngIf="f.name.errors?.required">必填</span>
          最大 30 碼
        </mat-hint>
        <mat-error>
          <div *ngIf="f.name.errors?.required">必填</div>
          <div *ngIf="f.name.errors?.maxlength">最大 {{f.name.errors?.maxlength.requiredLength}} 碼</div>
          {{f.name.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- 網站LOGO -->
    <app-row-form>
      <span row-label>網站LOGO*</span>
      <div row-content>
        <input formControlName="website_logo_url" type="file" accept=".png,.jpg,.jpeg">
        <br>
        <small class="text-secondary">
          上傳jpg或png, 建議 150px*150px
        </small>
        <span class="text-danger">
          {{f.website_logo_url.errors?.message}}
        </span>
      </div>
    </app-row-form>
    <!-- 聯絡電話 -->
    <app-row-form>
      <span row-label>聯絡電話</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="phone" matInput type="text">
        <mat-hint>
          <span *ngIf="f.phone.errors?.required">必填</span>
        </mat-hint>
        <mat-error>
          {{f.phone.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- 聯絡信箱 -->
    <app-row-form>
      <span row-label>聯絡信箱*</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="email" matInput type="email">
        <mat-hint>
          <span *ngIf="f.email.errors?.required">必填</span>
          最大 100 碼
        </mat-hint>
        <mat-error>
          <div *ngIf="f.email.errors?.required">必填</div>
          <div *ngIf="f.email.errors?.maxlength">最大 {{f.email.errors?.maxlength.requiredLength}} 碼</div>
          <div *ngIf="f.email.errors?.email">格式錯誤</div>
          {{f.email.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- 公司地址 -->
    <app-row-form>
      <span row-label>公司地址</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="company_address" matInput type="text">
        <mat-hint>
          <span *ngIf="f.company_address.errors?.required">必填</span>
        </mat-hint>
        <mat-error>
          {{f.company_address.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- Line 官方帳號 -->
    <app-row-form>
      <span row-label>Line 官方帳號</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="line" matInput type="text">
        <mat-hint>
          <span *ngIf="f.line.errors?.required">必填</span>
        </mat-hint>
        <mat-error>
          {{f.line.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- Facebook -->
    <app-row-form>
      <span row-label>Facebook</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="facebook" matInput type="text">
        <mat-hint>
          <span *ngIf="f.facebook.errors?.required">必填</span>
          網址
        </mat-hint>
        <mat-error>
          {{f.facebook.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <!-- Instagram -->
    <app-row-form>
      <span row-label>Instagram</span>
      <mat-form-field row-content class="w-100">
        <input formControlName="instagram" matInput type="text">
        <mat-hint>
          <span *ngIf="f.instagram.errors?.required">必填</span>
          網址
        </mat-hint>
        <mat-error>
          {{f.instagram.errors?.message}}
        </mat-error>
      </mat-form-field>
    </app-row-form>
    <div class="text-right">
      <button adiButton type="submit" [loading]="loading" variant="primary">更新</button>
      <button adiButton type="button" variant="outline">取消</button>
    </div>
  </form>
</app-section>
