<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="card">
  <div class="card-articles" *ngFor="let bulletinBoard of bulletinBoards">
    <div class="card-article">
      <div class="article-img">
        <a [routerLink]="[bulletinBoard.id]">
          <img [src]="bulletinBoard.image_url">
        </a>
      </div>
      <div class="article-content">
        <div class="title">
          <a [routerLink]="[bulletinBoard.id]">{{bulletinBoard.title}}</a>
        </div>
        <div class="datetime">
          {{bulletinBoard.updated_at | date: 'yyyy-MM-dd EEE'}}
        </div>
        <div class="subtitle">
          {{bulletinBoard.subtitle}}
        </div>
        <div class="content">
          {{bulletinBoard.content}}
        </div>
      </div>
    </div>
  </div>
</div>
