@import 'src/styles/colors';

:host {
  display: block;
}

.card {
  margin-top    : 20px;
  padding       : 20px 20vh;
  display       : flex;
  flex-direction: column;

  .card-articles {

    .card-article {
      margin-bottom  : 40px;
      display        : flex;
      justify-content: flex-start;

      .article-img {
        padding: 10px;

        img {
          max-height: 180px;
          width     : auto;
        }
      }

      .article-content {
        display       : flex;
        flex-direction: column;
        padding       : 10px;
        overflow      : hidden;

        * {
          overflow          : hidden;
          white-space       : nowrap;
          text-overflow     : ellipsis;
          display           : -webkit-box;
          -webkit-box-orient: vertical;
          white-space       : normal;
        }

        .title {
          -webkit-line-clamp: 1;
          font-size         : 22px;
          line-height       : 28px;
          font-weight       : 700;
          display           : -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .subtitle,
        .content {
          margin-top : 10px;
          font-size  : 16px;
          line-height: 20px;
          font-weight: 400;
          color      : $gray60;
        }

        .subtitle {
          -webkit-line-clamp: 1;
          max-height        : 20px;
        }

        .content {
          -webkit-line-clamp: 3;
          max-height        : 80px;
        }

        .datetime {
          margin-top : 10px;
          font-size  : 14px;
          line-height: 20px;
          font-weight: 400;
          color      : $gray60;
        }
      }
    }
  }

  @media (max-width:768px) {
    padding: 20px 6vh;
  }

  @media (max-width:576px) {
    padding: 20px 20px;

    .card-articles {
      .card-article {
        flex-direction: column;
      }
    }
  }
}
