<ng-container *ngIf="!!address_id; else selectBlock">
  <!-- 地址 -->
  {{fullAddress}}
</ng-container>
<ng-template #selectBlock>
  <div class="row" *ngIf="!!addressFormGroup" [formGroup]="addressFormGroup">
    <div class="col-auto">
      <!-- 國家 country_id -->
      <mat-form-field>
        <mat-label>國家</mat-label>
        <mat-select (valueChange)="filterCountry($event)" formControlName="country_id">
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-hint>
          <div *ngIf="f.address_postal_id.errors?.required">必填</div>
        </mat-hint>
        <mat-error>
          <div *ngIf="f.address_postal_id.errors?.required">必填</div>
          {{f.address_postal_id.errors?.message}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-auto">
      <!-- 縣市 city -->
      <mat-form-field>
        <mat-label>縣市</mat-label>
        <mat-select (valueChange)="filterCity($event)" formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city.city">
            {{city.city}}
          </mat-option>
        </mat-select>
        <mat-hint>
          <div *ngIf="f.address_postal_id.errors?.required">必填</div>
        </mat-hint>
        <mat-error>
          <div *ngIf="f.address_postal_id.errors?.required">必填</div>
          {{f.address_postal_id.errors?.message}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-auto">
      <!-- 鄉鎮市區 district -->
      <mat-form-field>
        <mat-label>鄉鎮市區</mat-label>
        <mat-select (valueChange)="chooseAddress($event)" formControlName="address_postal_id">
          <mat-option *ngFor="let district of districts" [value]="district.id">
            {{district.district}}
          </mat-option>
        </mat-select>
        <mat-hint>
          <div *ngIf="f.address_postal_id.errors?.required">必填</div>
        </mat-hint>
        <mat-error>
          <div *ngIf="f.address_postal_id.errors?.required">必填</div>
          {{f.address_postal_id.errors?.message}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <!-- 地址 address -->
      <mat-form-field class="w-100">
        <mat-label>地址</mat-label>
        <input matInput type="text" formControlName="address">
        <span *ngIf="!!selectedInfo" matPrefix class="me-2">{{selectedInfo}}</span>
        <mat-hint>
          <div *ngIf="f.address.errors?.required">必填</div>
        </mat-hint>
        <mat-error>
          <div *ngIf="f.address.errors?.required">必填</div>
          {{f.address.errors?.message}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-template>
