@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import 'src/styles/colors';

html,
body {
  height          : 100vh;
  min-width       : auto;
  padding         : 0;
  margin          : 0;
  border          : 0;
  display         : block;
  font-family     : 'Noto Sans TC', sans-serif;
  // font-family         : "Poppins", sans-serif;
  font-size       : 16px;
  background-color: $white;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: $black;

  &:hover {
    color: $blue60;
    text-decoration: underline;
  }

  &:active {
    color: $black;
  }
}

button {
  .icon+span {
    padding-left: 0.25rem;
  }

  &.icon-button {
    width        : 36px;
    height       : 36px;
    padding      : 6px;
    border       : 0;
    border-radius: 8px;
    cursor       : pointer;
  }
}

button+button {
  margin-left: 0.625rem;
}

svg {
  display: block;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.font-bold {
  font-weight: bold;
}

.icon {
  vertical-align: bottom;

  &+& {
    margin-left: 0.625rem;
  }
}

@import 'src/styles/grid.scss';
@import 'src/styles/material.scss';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
