<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="row m-3" [innerHTML]="authorization?.title"></div>
<div class="row mx-3" [innerHTML]="authorization?.content"></div>
<mat-divider class="m-3"></mat-divider>
<div class="row m-3 text-secondary small">
  更新時間 {{authorization?.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}}
</div>
