<app-filters [keywordsColumns]="keywordsColumns" [filterDatetimeRanges]="filterDatetimeRanges"
  [filterSelects]="filterSelects" (searchEvent)="onSearch($event)">
</app-filters>

<!-- table block -->
<app-table-block [tableIsLoading]="tableIsLoading">
  <!-- total -->
  <ng-container total>
    {{paginator.length}}
  </ng-container>
  <!-- items -->
  <ng-container items>
    <button-add (click)="clickAdd()"></button-add>
  </ng-container>
  <!-- table -->
  <ng-container table>
    <table mat-table [ngClass]="{'tbody-disabled':tableIsLoading}" [dataSource]="dataSource" matSort>

      <!-- sort -->
      <ng-container matColumnDef="sort" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 排序 </th>
        <td mat-cell *matCellDef="let row">
          {{row.sort}}
        </td>
      </ng-container>

      <!-- image -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 圖片 </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.image_url == null; else imgBlack">
            無圖片
          </ng-container>
          <ng-template #imgBlack>
            <a target="_blank" [href]="row.image_url">
              <img [src]="row.image_url">
            </a>
          </ng-template>
        </td>
      </ng-container>

      <!-- title -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 標題 </th>
        <td mat-cell *matCellDef="let row">
          <a (click)="clickDetail(row)">{{row.title}}</a>
        </td>
      </ng-container>

      <!-- intervalDate -->
      <ng-container matColumnDef="intervalDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 公告時間(開始~結束) </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.start_date == null && row.end_date == null; else intervalDate">
            不限制
          </ng-container>
          <ng-template #intervalDate>
            <div>{{row.start_date | date: 'yyyy-MM-dd HH:mm'}}</div>
            <div>{{row.end_date | date: 'yyyy-MM-dd HH:mm'}}</div>
          </ng-template>
        </td>
      </ng-container>

      <!-- valid_flag -->
      <ng-container matColumnDef="valid_flag">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let row">
          <app-text-valid-flag [valid_flag]="row.valid_flag"></app-text-valid-flag>
        </td>
      </ng-container>

      <!-- updated_at -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新時間 </th>
        <td mat-cell *matCellDef="let row"> {{row.updated_at | date: 'yyyy-MM-dd EEE HH:mm:ss'}} </td>
      </ng-container>

      <!-- maintain -->
      <ng-container matColumnDef="maintain">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button-edit (click)="clickUpdate(row)"></button-edit>
          <button-delete (click)="clickDelete(row)"></button-delete>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="9999">無資料</td>
      </tr>
    </table>

    <!-- pagination -->
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </ng-container>
</app-table-block>
